<div id="bulkWallets" class="row">
  <div class="col s12 input-field screen-only">
    <input id="numWallets" type="number" class="validate" ng-model="numWallets" />
    <label for="numWallets">Number of wallets</label>
  </div>
  <div class="col s12 input-field screen-only">
    <select id="walletType" ng-model="walletType" ng-init="walletType='paper'" material-select watch>
      <option value="paper">Paper Wallets</option>
      <option value="csv">CSV</option>
    </select>
  </div>
  <div class="row col s12 screen-only" ng-show="walletType=='paper'">
    <select class="input-field" ng-model="walletArt" ng-init="walletArt='earth'" material-select watch>
      <option value="earth">Earth</option>
      <option value="none">No wallet art</option>
    </select>
    <p ng-hide="walletArt=='none'"><input type="checkbox" ng-model="showBack" ng-init="showBack=true" id="showBack"/><label for="showBack">Show wallet backs</label></p>
  </div>
  <div class="col s12 input-field screen-only" ng-show="walletType=='paper'">
    <input id="perPage" type="number" class="validate" ng-model="perPage" />
    <label for="perPage">Wallets per page</label>
  </div>
  <div class="row col s12 screen-only">
    <p><input type="checkbox" ng-model="usePassword" id="usePassword" /><label for="usePassword">Generate encrypted wallets</label></p>
    <p ng-show="usePassword"><label for="password">Password:</label><input type="password" ng-model="password" placeholder="Do not forget this!" /></p>
  </div>
  <div class="row screen-only">
    <div class="col m3 s12">
        <button class="btn-large green col s12 row" ng-click="generateWallets()">Generate wallets!</button>
    </div>
    <div class="col m1 s12">
      <a class="col row s12 small btn-large blue print" ng-click="print()"></a>
    </div>
    <div class="col m1 s12">
      <a class="col row s12 small btn-large blue download" ng-click="exportKeys()"></a>
    </div>
  </div>
  <div class="row csv" ng-if="walletType=='csv'" on-click-select-all>
    <div ng-repeat="wallet in wallets">{{$index+1}},"{{wallet.address}}","{{wallet.private}}"</div>
  </div>
  <div class="page" ng-repeat="page in getPages()" ng-if="walletType=='paper'">
    <div class="row paperwallet front" ng-repeat="wallet in page">
      <div class="art col s12">
        <css-img class="wallet-image" ng-class="{'no-art': walletArt === 'none'}"></css-img>
        <icon-identicon class="identicon" code="{{wallet.address}}" ng-show="walletArt !== 'none'" size="81"></icon-identicon>
        <qrcode class="address-qr" size="80" data="{{wallet.address}}"></qrcode>
        <qrcode class="privatekey-qr" size="133" version="8" data="{{wallet.private}}"></qrcode>
        <div class="address-text-box"><span class="address-text">{{wallet.address}}</span></div>
        <div class="privatekey-text-box top" ng-if="!wallet.encrypted"><span class="privatekey-text">{{wallet.private}}</span></div>
        <div class="privatekey-text-box bottom" ng-if="!wallet.encrypted"><span class="privatekey-text">{{wallet.private}}</span></div>
      </div>
    </div>
    <div class="page-break" ng-if="showBack && walletArt !== 'none'" />
    <div class="row paperwallet back" ng-repeat="wallet in page" ng-show="showBack && walletArt !== 'none'">
      <div class="art col s12">
        <css-img class="wallet-image" ng-class="{'no-art': walletArt === 'none'}"></css-img>
      </div>
    </div>
    <div class="page-break" ng-if="!$last" />
  </div>
</div>
