<!-- PurifyCSS is indeed "voodoo magic," but sometimes it misses things.
     This file is a dirty hack to clue it in to the things it misses. -->
<div class="select-wrapper input-field ng-pristine ng-untouched ng-valid initialized"><span class="caret">▼</span><input class="select-dropdown" value="Earth" type="text"><ul class="dropdown-content select-dropdown"><li class="active"><span>Earth</span></li><li class=""><span>No wallet art</span></li></ul></div>
<div id="sidenav-overlay" style="opacity: 1;" class=""></div>
<video></video>
