<div class="row screen-only">
  <div class="row">
    <div class="col s12">
      <div class="card-panel yellow lighten-4">
        <b>INFO:</b> Address prefixes can only use the letters "a" through "f" and the numbers "0" through "9." Also note that this process can take a while. If you experience browser lock-ups, try using a lower "target hashes per second" setting.
      </div>
    </div>
  </div>
  <div class="col s12">
    <p><label for="prefix">Address Prefix</label><input id="prefix" type="text" ng-pattern="/^[a-fA-F0-9]+$/" ng-model="prefix" /></p>
  </div>
  <div class="col s12">
    <p><label for="targetHPS">Target Hashes Per Second</label><input type="number" class="validate" ng-model="targetHPS" /></p>
  </div>
  <div class="input-field col s12 screen-only">
    <select ng-model="walletType" ng-init="walletType='csv'" material-select>
      <option value="csv">CSV</option>
      <option value="paper">Paper Wallets</option>
    </select>
  </div>
  <div class="col s12 screen-only" ng-show="walletType=='paper'">
    <select class="input-field" ng-model="walletArt" ng-init="walletArt='earth'" material-select>
      <option value="earth">Earth</option>
      <option value="none">No wallet art</option>
    </select>
    <p ng-hide="walletArt=='none'"><input type="checkbox" ng-model="showBack" ng-init="showBack=true" id="showBack"/><label for="showBack">Show wallet backs</label></p>
  </div>
  <div class="input-field screen-only" ng-show="walletType=='paper'">
    <input id="perPage" type="number" class="validate" ng-model="perPage" />
    <label for="perPage">Wallets per page</label>
  </div>
  <div class="row col s12">
    <input type="checkbox" ng-model="usePassword" id="usePassword" /><label for="usePassword">Encrypt wallets</label>
  </div>
  <div class="row col s12" ng-show="usePassword">
    <label for="password">Password:</label><input type="password" ng-model="password" placeholder="Do not forget this!" />
  </div>
  <div class="col m3 s12">
    <button class="btn-large green col s12 row" ng-class="{disabled: !prefix}" ng-click="startSearching()" ng-show="!searching">Start Searching!</button>
    <button class="btn-large red col s12 row" ng-click="stopSearching()" ng-show="searching">Stop Searching!</button>
  </div>
  <div class="col m1 s12">
    <a class="col row s12 small btn-large blue print" ng-click="print()"></a>
  </div>
  <div class="col m1 s12">
    <a class="col row s12 small btn-large blue download" ng-click="exportKeys()"></a>
  </div>
</div>
<div class="row screen-only">
  <div class="col s12">
    Estimated time to find: {{ TTFF }}
  </div>
  <div class="col s12">
    Hashes per second: {{ HPS }}
  </div>
  <div class="col s12">
    Addresses found: {{wallets.length}}
  </div>
</div>
</div>
<div class="row col s12 csv" ng-if="walletType=='csv'" on-click-select-all>
  <div ng-repeat="wallet in wallets">{{$index+1}},"{{wallet.address}}","{{wallet.private}}"</div>
</div>
<div class="page" ng-repeat="page in getPages()" ng-if="walletType=='paper'">
    <div class="row paperwallet front" ng-repeat="wallet in page">
        <div class="art col s12">
            <css-img class="wallet-image" ng-class="{'no-art': walletArt === 'none'}"></css-img>
            <icon-identicon class="identicon" code="{{wallet.address}}" ng-show="walletArt !== 'none'" size="81"></icon-identicon>
            <qrcode class="address-qr" size="80" data="{{wallet.address}}"></qrcode>
            <qrcode class="privatekey-qr" size="133" version="8" data="{{wallet.private}}"></qrcode>
            <div class="address-text-box"><span class="address-text">{{wallet.address}}</span></div>
            <div class="privatekey-text-box top" ng-if="!wallet.encrypted"><span class="privatekey-text">{{wallet.private}}</span></div>
            <div class="privatekey-text-box bottom" ng-if="!wallet.encrypted"><span class="privatekey-text">{{wallet.private}}</span></div>
        </div>
    </div>
    <div class="page-break" ng-if="showBack && walletArt !== 'none'" />
    <div class="row paperwallet back" ng-repeat="wallet in page" ng-show="showBack && walletArt !== 'none'">
        <div class="art col s12">
          <css-img class="wallet-image" ng-class="{'no-art': walletArt === 'none'}"></css-img>
        </div>
    </div>
    <div class="page-break" ng-if="!$last" />
</div>
